@model IEnumerable<CocktailCookbook.Models.Cocktail>

<p>
    <a class="btn btn-success"asp-action="Create" asp-controller="Cocktails">Create New</a>
</p>

<body class="flex justify-content-around">

    @foreach (var item in Model)
    {

        string id = item.Name.Replace(" ", "-");
        string info = id + "info";
        string action = id + "action";
        string imgPath = item.Photo;

    <div class="card d-sm-inline-flex d-lg-inline-flex col-lg-2 px-0" style="width: 18rem;">
        <img src="~/Images/@imgPath" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">  @Html.DisplayFor(modelItem => item.Name)</h5>

        </div>


        <div class="container justify-content-around">
            
            <button class="btn btn-primary" id="@id" data-toggle="collapse" data-target="#@info" aria-expanded="false" aria-controls="@info">Info</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#@action" aria-expanded="false" aria-controls="@action">Action</button>
        </div>
        <div class="row m-0 p-0">
            <div class="row m-0 p-0">
                <div class="collapse m-0 p-0" id="@info">
                    <div class="card card-body p-0 m-0">
                        <ul class="list-group list-group-flush px-0">
                            <li class="list-group-item"><h5>@Html.DisplayNameFor(m => item.Glassware) : </h5>@Html.DisplayFor(modelItem => item.Glassware)</li>
                            <li class="list-group-item"><h6>@Html.DisplayNameFor(m => item.Ingredients) : </h6>@Html.DisplayFor(modelItem => item.Ingredients)</li>
                            <li class="list-group-item"><h6>@Html.DisplayNameFor(m => item.Method) : </h6>@Html.DisplayFor(modelItem => item.Method)</li>
                            <li class="list-group-item"><h6>@Html.DisplayNameFor(m => item.Garnish) : </h6>@Html.DisplayFor(modelItem => item.Garnish)</li>
                            <li class="list-group-item"><h6>@Html.DisplayNameFor(m => item.Description) : </h6>@Html.DisplayFor(modelItem => item.Description)</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="collapse" id="@action">
                    <div class="card card-body">
                        <a  class="btn btn-primary m-2"  asp-action="Edit" asp-controller="Cocktails" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary m-2" asp-action="Details" asp-controller="Cocktails" asp-route-id="@item.Id">Details</a> 
                        <a class="btn btn-primary m-2" asp-action="Delete" asp-controller="Cocktails" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
               </div>
    }

</body>
    


