@model IEnumerable<CocktailCookbook.Models.Cocktail>

<p>
    <a asp-action="Create">Create New</a>
</p>


    
@foreach (var item in Model) {
        
    
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">  @Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">Sydney sling is our signiture drink blah blah</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Glassware)</li>
                <li class="list-group-item">@Html.DisplayFor(modelItem => item.Method)</li>
                <li class="list-group-item">  @Html.DisplayFor(modelItem => item.Garnish)</li>
                <li class="list-group-item">
                      <a asp-action="Edit"  asp-controller="Cocktails" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Cocktails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete"  asp-controller="Cocktails" asp-route-id="@item.Id">Delete</a>
                </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    
  
}
  

