@model IEnumerable<CocktailCookbook.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<header class="popover-header"><h2 class="font-weight-light">Posts</h2></header>


<p>
    <a class="btn-dark btn" asp-action="Create">New Thread</a>
</p>
<table class="table  p-3 m-4" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @*make the number of comments a number and if the number is greater than 0 be able to click on it and navigate to the necessary*@
                <a class="btn btn-primary" asp-action="ViewThread" asp-route-id="@item.Id">Comments</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.NickName)
            </td>
            <td class="justify-content-around">
                @if (true)
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                }
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-success" asp-action="Reply" asp-route-id="@item.Id">Reply</a>
            </td>
        </tr>
}   
    </tbody>
</table>
